<div class="wrap" >
    

    </div>
        <div class="section group">
            <div class="col_1_of_4 span_1_of_4">
                <h4>Thông tin </h4>
                <ul>
                    <li><a href="tin-tuc">Tin tức</a></li>
                    <li><a href="https://www.pinterest.com/thaihungmtk/kien-truc-noi-that/">Kiến trúc-Nội thất</a></li>
                    <li><a href="https://www.thegioididong.com/dtdd">Điện thoại</a></li>
                    <li><a href="https://thoitrangkorea.com/">Thời trang</a></li>
                    <li><a href="san-pham">Công nghệ-máy tính</a></li>
                </ul>
            </div>

            <div class="col_1_of_4 span_1_of_4">
                <h4>Thông tin cần biết</h4>
                <ul>
                    <li><a href="#">Quy định sử dụng</a></li>
                    <li><a href="#">Chính sách bảo mật</a></li>
                    <li><a href="#">Hình thức thanh toán</a></li>
                    <li><a href="#">Dịch vụ quảng cáo</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <h4>Liên hệ</h4>
                <ul>
                    <li>Di động: <span style="color:red">(84)12345678</span></li>
                    <li>Hotline: <span style="color:red">1900 8730</span></li>
                </ul>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <div class="social-icons">

                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FDHCNHN.HaUI&tabs=timeline&width=350&height=250&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="350" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    <ul>
                        <li><a href="https://www.facebook.com/" target="_blank"><img src="/assests/client/images/facebook.png" alt="" /></a></li>
                        <li><a href="https://twitter.com/" target="_blank"><img src="/assests/client/images/twitter.png" alt="" /></a></li>
                        <li><a href="https://skype.com/" target="_blank"><img src="/assests/client/images/skype.png" alt="" /> </a></li>

                        <li><a href="https://linkedin.com" target="_blank"> <img src="/assests/client/images/linkedin.png" alt="" /></a></li>
                        <div class="clear"></div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<div class="copy_right">
    <p><img src="https://cpr.haui.edu.vn/media/73/t73819.jpg" style="height:30px;width:30px"/><a href="https://www.facebook.com/DHCNHN.HaUI" target="_blank" style="text-decoration:none;color:red;font-size:24px">Trường Đại Học Công Nghiệp Hà Nội</a></p>
</div>





