
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Online Shop</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/Admin/Home/Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Trang Chủ</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSystem"
           aria-expanded="true" aria-controls="collapseSystem">
            <i class="fas fa-fw fa-cog"></i>
            <span>Hệ thống</span>
        </a>
        <div id="collapseSystem" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">System</h6>
                <a class="collapse-item" href="/Admin/UserGroup/Index">Nhóm người dùng</a>
                <a class="collapse-item" href="/Admin/User/Index">Danh sách người dùng</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNews"
           aria-expanded="true" aria-controls="collapseNews">
            <i class="fa fa-comment"></i>
            <span>Tin Tức</span>
        </a>
        <div id="collapseNews" class="collapse" aria-labelledby="headingNews" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">News</h6>
                <a class="collapse-item" href="/Admin/Category/Create">Tạo danh mục</a>
                <a class="collapse-item" href="/Admin/Content/Index">Tin Tức</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="About/About" 
           aria-expanded="true" aria-controls="collapseNews">
            <i class="fa fa-phone"></i>
            <span>Giới thiệu</span>
        </a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
           aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fa fa-tasks"></i>
            <span>Sản Phẩm</span>
        </a>
        <ul id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Product</h6>
                <a class="collapse-item" href="/Admin/Product/Index">Tạo mới sản phẩm</a>
                <a class="collapse-item" href="#" data-toggle="collapse" data-target="#collapseBst"
                   aria-expanded="true" aria-controls="collapseUtilities">Danh mục sản phẩm</a>
                <a class="collapse-item" href="#" data-toggle="collapse" data-target="#collapseLsp"
                   aria-expanded="true" aria-controls="collapseUtilities">Loại sản phẩm</a>
                
            </div>
        </ul>
        <ul id="collapseBst" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Danh mục sản phẩm</h6>
                <a class="collapse-item" href="/Admin/Product/NewProduct">Sản phẩm mới</a>
                <a class="collapse-item" href="/Admin/Product/HotProduct">Sản phẩm hot</a>
                <a class="collapse-item" href="/Admin/Product/DQProduct">Sản phẩm độc quyền</a>
            </div>
        </ul>
        <ul id="collapseLsp" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Loại sản phẩm</h6>
                <a class="collapse-item" href="#" data-toggle="collapse" data-target="#collapseDh"
                   aria-expanded="true" aria-controls="collapseUtilities">Đồng hồ</a>
                <a class="collapse-item" href="#" data-toggle="collapse" data-target="#collapseDt"
                   aria-expanded="true" aria-controls="collapseUtilities">Điện thoại</a>
                <a class="collapse-item" href="#" data-toggle="collapse" data-target="#collapseMtdb"
                   aria-expanded="true" aria-controls="collapseUtilities">Máy tính để bàn</a>
                <a class="collapse-item" href="#" data-toggle="collapse" data-target="#collapseMtxt"
                   aria-expanded="true" aria-controls="collapseUtilities">Máy tính xách tay</a>
                <a class="collapse-item" href="#" data-toggle="collapse" data-target="#collapsePk"
                   aria-expanded="true" aria-controls="collapseUtilities">Phụ kiện</a>
                <a class="collapse-item" href="#" data-toggle="collapse" data-target="#collapseTth"
                   aria-expanded="true" aria-controls="collapseUtilities">Thể thao</a>
                <a class="collapse-item" href="#" data-toggle="collapse" data-target="#collapseTtr"
                   aria-expanded="true" aria-controls="collapseUtilities">Thời trang</a>
                <a class="collapse-item" href="#" data-toggle="collapse" data-target="#collapseTs"
                   aria-expanded="true" aria-controls="collapseUtilities">Trang sức</a>
            </div>
        </ul>
        <!-- Danh sách loại sản phẩm-->
        <ul id="collapseDh" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Đồng hồ</h6>
                <a class="collapse-item" href="/Admin/ProductType/RolexProduct">Rolex</a>
                <a class="collapse-item" href="/Admin/ProductType/GucciProduct">Gucci</a>

            </div>
        </ul>
        <!---->
        <ul id="collapseDt" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Điện thoại</h6>
                <a class="collapse-item" href="/Admin/ProductType/OppoProduct">Oppo</a>
                <a class="collapse-item" href="/Admin/ProductType/IphoneProduct">Iphone</a>
                <a class="collapse-item" href="/Admin/ProductType/SamsungProduct">Samsung</a>

            </div>
        </ul>
        <!---->
        <ul id="collapseMtdb" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Máy tính để bàn</h6>
                <a class="collapse-item" href="/Admin/ProductType/PCProduct">PC</a>
                <a class="collapse-item" href="/Admin/ProductType/CaseProduct">Case</a>

            </div>
        </ul>
        <!---->
        <ul id="collapseMtxt" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Máy tính xách tay</h6>
                <a class="collapse-item" href="/Admin/ProductType/AsusProduct">Asus</a>
                <a class="collapse-item" href="/Admin/ProductType/DellProduct">Dell</a>

            </div>
        </ul>
        <!---->
        <ul id="collapsePk" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Phụ kiện</h6>
                <a class="collapse-item" href="/Admin/ProductType/TNGProduct">Tai nghe Gaming</a>
                <a class="collapse-item" href="/Admin/ProductType/LGProduct">Loa Gaming</a>

            </div>
        </ul>
        <!---->
        <ul id="collapseTth" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Thể thao</h6>
                <a class="collapse-item" href="/Admin/ProductType/GTTProduct">Giày thể thao</a>
                <a class="collapse-item" href="/Admin/ProductType/GolfProduct">Golf</a>

            </div>
        </ul>
        <!---->
        <ul id="collapseTtr" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Thời trang</h6>
                <a class="collapse-item" href="/Admin/ProductType/HoodieProduct">Áo Hoodie</a>
                <a class="collapse-item" href="/Admin/ProductType/QAProduct">Quần âu</a>

            </div>
        </ul>
        <!---->
        <ul id="collapseTs" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Trang sức</h6>
                <a class="collapse-item" href="/Admin/ProductType/DCProduct">Dây chuyền </a>
                <a class="collapse-item" href="/Admin/ProductType/LTProduct">Lắc tay</a>

            </div>
        </ul>

    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Addons
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item active">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
           aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Login Screens:</h6>
                <a class="collapse-item" href="/Admin/Login">Login</a>
                <a class="collapse-item" href="register.html">Register</a>
                <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Other Pages:</h6>
                <a class="collapse-item" href="404.html">404 Page</a>
                <a class="collapse-item active" href="blank.html">Blank Page</a>
               
            </div>
        </div>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a href="#" class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseManager"
           aria-expanded="true" aria-controls="collapseManager">
            <i class="fa fa-user"></i>
            <span>Quản lý chung</span>
        </a>
        <div id="collapseManager" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Manager</h6>
                <a class="collapse-item" href="/Admin/About/About">Giới thiệu</a>
                <a class="collapse-item" href="/Admin/Footer/Index">Footer</a>
                <a class="collapse-item" href="/Admin/Footer/Index">Menu</a>
                <a class="collapse-item" href="/Admin/Footer/Index">Slide</a>
                <a class="collapse-item" href="/Admin/Footer/Index">Phản hồi</a>
                <a class="collapse-item" href="/Admin/Footer/Index">Đánh giá</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Tables</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>

